In [1]:
#import needed library
import pandas as pd

In [2]:
dataset = pd.read_csv('./data/CountryData.csv')

In [3]:
dataset.head()

,Country Name,Population,Literacy,Internet,Mobile,Elect. Production,Elect. Consumption
0,Algeria,38813720,73,4700000,37692000,46,34
1,Angola,19088106,70,606700,9800000,5,5
2,Benin,10160556,42,200100,8408000,0,1
3,Botswana,2155784,85,120000,3082000,0,3
4,Burkina Faso,18365124,29,178100,9980000,1,1

# Question 1: Total Population in Africa

This returns the sum of the population for each Africa country captured in the dataset

In [4]:
# the total population in Africa
total_africa_population = dataset['Population'].sum()
print(total_africa_population)

1112649407

# Question 2: Africa Most Populous Country

This returns the African country with the highest population

In [5]:
##the most populous country in Africa
africa_most_populous_country = dataset['Country Name'][dataset['Population'].idxmax()]
print(africa_most_populous_country)

Nigeria

# Question 3: Average Literacy Rate (%) in Africa 

This returns the average literacy rate in Africa

In [6]:
# Africa Average Literacy rate
dataset['Literacy_Rate_Per_Country'] = ((dataset['Literacy']/100)*dataset['Population'])
africa_average_literacy = dataset['Literacy_Rate_Per_Country'].sum()/total_africa_population
print(africa_average_literacy)

0.6399399343498683

# Question 4: Africa Country with the highest number of Mobile Subscriptions per Capita

This returns the African country with the highest number of mobile subscriptions per capita

In [7]:
dataset['Mobile/Population'] = dataset['Mobile']/dataset['Population']
highest_mobile_sub_per_capital = dataset['Country Name'][dataset['Mobile/Population'].idxmax()]
print(highest_mobile_sub_per_capital)

Gabon

# Question 5: Africa countries that produce more electricity than they consume

This returns the list of African countries that produces more electricity than they consume

In [8]:
# Africa countries that export electricity
electricity_exporters =[]
w = dataset['Country Name'][dataset['Elect. Production'] > dataset['Elect. Consumption']]
for (a,b) in enumerate(w):
    electricity_exporters.append(b)
#recode countries having comma with no-space
electricity_exporters = [str.replace(',', '') for str in electricity_exporters]
# create the electricity_exporters strings from the list
electricity_exporters = ', '.join(electricity_exporters )
print(electricity_exporters)

Algeria, Cameroon, Congo Democratic Republic of the, Cote d'Ivoire, Egypt, Ethiopia, Gabon, Ghana, Kenya, Libya, Mali, Mauritius, Mozambique, Nigeria, Senegal, South Africa, Sudan, Tanzania, Tunisia, Zambia

# Question 6: Difference between the Electricity Produced per Capita and the Electricity Consumed per Capita

This returns the difference between the electricity produced per capita and the electricity consumed per capita

In [9]:
#difference between Africa's eletricity produced per capital and the electricity consumed per capital
dataset['Elect_Prod_Per_Cap'] = dataset['Elect. Production']/dataset['Population']
dataset['Elect_Con_Per_Cap'] = dataset['Elect. Consumption']/dataset['Population']
electricity_difference = dataset['Elect_Prod_Per_Cap'].sum()-dataset['Elect_Con_Per_Cap'].sum()
print(electricity_difference)

5.099101204109383e-08

In [10]:
#view the entire dataset again
dataset.head()

,Country Name,Population,Literacy,Internet,Mobile,Elect. Production,Elect. Consumption,Literacy_Rate_Per_Country,Mobile/Population,Elect_Prod_Per_Cap,Elect_Con_Per_Cap
0,Algeria,38813720,73,4700000,37692000,46,34,28334015.60,0.971100,1.185148e-06,8.759789e-07
1,Angola,19088106,70,606700,9800000,5,5,13361674.20,0.513409,2.619432e-07,2.619432e-07
2,Benin,10160556,42,200100,8408000,0,1,4267433.52,0.827514,0.000000e+00,9.841981e-08
3,Botswana,2155784,85,120000,3082000,0,3,1832416.40,1.429642,0.000000e+00,1.391605e-06
4,Burkina Faso,18365124,29,178100,9980000,1,1,5325885.96,0.543421,5.445103e-08,5.445103e-08

In [11]:
# set maximum column width to 300, in other to print lengthy values i.e. the 20 countries
pd.options.display.max_colwidth = 300

# Writing the answers of Question 1 - 6 to text format

In [12]:
answers = [total_africa_population, africa_most_populous_country, africa_average_literacy, highest_mobile_sub_per_capital,
           electricity_exporters, electricity_difference]
answers = pd.DataFrame(answers, columns=['Answers'], index=[1,2,3,4,5,6])
answers

                                                                                                                                                                                                          Answers
1                                                                                                                                                                                                      1112649407
2                                                                                                                                                                                                         Nigeria
3                                                                                                                                                                                                         0.63994
4                                                                                                                                                                                                           Gabon
5  Algeria, Cameroon, Congo Democratic Republic of the, Cote d'Ivoire, Egypt, Ethiopia, Gabon, Ghana, Kenya, Libya, Mali, Mauritius, Mozambique, Nigeria, Senegal, South Africa, Sudan, Tanzania, Tunisia, Zambia
6                                                                                                                                                                                                      5.0991e-08

In [13]:
#final answer converted to a txt file i.e. output.txt
answers.to_csv('output.txt', index=False, sep='\t')